:root {
    --bg-color: #303030;
    --inverted-bg-color: #444;
    --input-bg:  #27272a;
    --input-hover-bg:  #3f3f46;

    // текст
    --primary-color: #f0f0f0;
    --second-text-color: #828282;
    --input-text-color: #383838;

    // цвета
    --btn-bg-color: #f0f0f0
}
